@CHARSET "ISO-8859-1";

#id_errorDiv {
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: large;
}
#id_errorMessage div{
	color:red;
	position:absolute;
	top:0;bottom:0;
	left:0;right:0;
	margin:auto;
	width:50%;
	height:30%;
}
#id_errorMessage{
	position:absolute;
	width:40%;
	height:30%;
	top:0;
	right:0;
	left:0;
	bottom:0;
	margin:auto;
	color:red;
	text-align: center;
	border: 1px solid #3a92c8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* header {
	position: relative;
	display: block;
	height: 10%;
	width: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#innerContainerDiv{
	border: 1px solid; 
	border-color: grey;
	width: 300px;
	height: 400px;
	margin-top: 50px;
 	margin-bottom: 100px;
 	margin-right: 350px;
 	margin-left: 100px;
 	
 	padding-left: 210px;
 	padding-bottom: 50px;
	padding: 10px 10px 10px 500px;
	overflow-y: auto;
}

#id_proj_name_text {
	position: absolute;
	top: 25%;
	left: 20%;
	display: inline;
	font-family: "Bauhaus 93", Courier, monospace;
	font-size: x-large;
	font-weight: bold;
	color: #000000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	IE 8
	filter: alpha(opacity = 50); IE 5-7
	-moz-opacity: 0.5; Netscape
	-khtml-opacity: 0.5; Safari 1.x
	opacity: 0.5; Good browsers
	height: 75%;
}

.divider{
	width:40px;
    height:auto;
    display:inline-block;
}

.styled-select{
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

h2{
	text-align: center;
}

#id_header {
	height: 100%;
	background: radial-gradient(circle, #94d2f8, #3a92c8);
	background-image: -webkit-linear-gradient(left, #FFFFFF, #3a92c8);
	background-image: -moz-linear-gradient(left, #FFFFFF, #3a92c8);
	background-image: -o-linear-gradient(left, #FFFFFF, #3a92c8);
	background-image: linear-gradient(left, #FFFFFF, #3a92c8);
	background-image: -ms-linear-gradient(left, #FFFFFF, #3a92c8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF',
		EndColorStr='#3a92c8', GradientType=1);
	position: relative;
	position:relative;
	background:#FFFFFF;
}

#id_leftHeaderDiv {
	position:relative;
	float: left;
	display: inline;
	height: 100%;
	width: 15%;
}
#id_rightHeaderDiv{
	position:relative;
	width:85%;
	height:100%;
	float:left;
	background: radial-gradient(circle, #94d2f8, #3a92c8);
	background-image: -webkit-linear-gradient(left, #FFFFFF, #3a92c8);
	background-image: -moz-linear-gradient(left, #FFFFFF, #3a92c8);
	background-image: -o-linear-gradient(left, #FFFFFF, #3a92c8);
	background-image: linear-gradient(left, #FFFFFF, #3a92c8);
	background-image: -ms-linear-gradient(left, #FFFFFF, #3a92c8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF',
		EndColorStr='#3a92c8', GradientType=1);
}
#id_lmsLogo {
	position:absolute;
	top:0;bottom:0;right:0;left:0;
	margin:auto;
	max-width: 175px;
	min-width:175px;
	max-height: 46px;
	min-height:46px;
}

#id_mainContainer {
	height:80%;
	width: 100%;
	float: right;
	padding: 2px 0px 0px 2px;
	overflow: scroll;
}


#imageLoad {
	position:absolute;
	top:0;bottom:0;right:0;left:0;
	margin:auto;
	max-width: 175px;
	min-width:175px;
	max-height: 146px;
	min-height:46px;
}

html body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	
}

#id_colorTap {
	width: 100%;
	height: 10%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}

#id_colorTap div {
	display: inline;
	float: left;
	height: 100%;
}
header ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display:inline;
}

header ul li {
	list-style-type: none;
	display: inline;
	padding: 0px 10px 0px 10px;
	font-size: 18px;
	color: #ffffff;
}

header ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}

html body {
	margin: 0px;
	overflow:hidden;
}

body {
	font-family: 'Droid Sans', Arial, Verdana, sans-serif;
	font-size: 13px;
}

input {
	color: #777;
	padding: 0px 5px 0px 5px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
}

#id_header_image {
	background-color: none;
	display: inline;
	width: 15%;
}

#id_navigation {
	background-color: none;
	overflow: hidden;
	width: 100%;
	display: inline;
	float: right;
}

#id_header_wraper {
	float: left;
	display: inline;
	width: 15%;
	height: 100%;
}

#id_wstaf_text {
	float: left;
	display: inline;
	margin: 2% 2% 2% 2%;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}

.errInputBox {
	border: 2px solid #ea0000;
	outline: none;
	border-radius: 7px;
}

.notReady {
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	//
	first
	!
	filter
	:
	alpha(
	opacity
	=
	
	
	50
	);
}

.specialbutton {
	height: 30px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    margin:10px 0px 0px 0px;
    padding:4px 15px 5px 15px;
    background-color: #3a92c8; IE fallback
    background-image: -webkit-gradient(linear, left top, left bottom, from(#94d2f8), to(#3a92c8));
    background-image: -moz-linear-gradient(top left 90deg, #94d2f8 0%, #3a92c8 100%);
    background-image: linear-gradient(top left 90deg, #94d2f8 0%, #3a92c8 100%);
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 15px;
	color: #ffffff;
	font-size: medium;
	padding:2% 10px 2% 10px;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border: none;
}

.specialbutton:hover {
	background: #3a92c8;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

footer {
	position: absolute;
	background-color: #f1f1f1;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 5%;
	display: block;
	text-align: center;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#id_footerMenu {
	position: absolute;
	height: 85%;
	bottom: 0;
	right: 0;
	left: 0;
}

footer ul {
	list-style-type: none;
	margin: auto;
}

footer ul li {
	list-style-type: none;
	display: inline;
	padding:5px 0px 5px 0px;
}

footer ul li a {
	padding:0px 5px 0px 5px;
	text-decoration: none;
	color: #3a92c8;
}

footer ul li a:hover {
	text-decoration: underline;
}

.errInputBox{
	border: 2px solid #FA0522;
	border-radius: 7px;
	outline:none;
}

#successMessage {
	text-align: center;
	color: #8000ff;
	font-weight: bold;
	font-size: large;
}
.notReady {
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	//
	first
	!
	filter
	:
	alpha(
	opacity
	=
	50
	);
}

.loadingImage {
	margin: 50% 0% 0% 0%;
	width: 70%;
}

#id_dialog {
	background-color: #FFF;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	padding: 0px;
}

.b-close {
	background-color: #2b91af;
	border-radius: 7px 7px 7px 7px;
	box-shadow: none;
	font: bold 131% sans-serif;
	color: #FFFFFF;
	padding: 0 6px 2px;
	position: absolute;
	right: -7px;
	top: -7px;
	cursor: pointer;
}

.b-close:hover {
	background-color: #000000;
}

.fullWidthHeight {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}


.border {
	border: 1px solid #3a92c8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.thickBorder{
	border: 5px solid #3a92c8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.disableButton{
	cursor:auto;
}
#id_container{
	width:100%;
	height:85%;
	margin:0px;
	padding:0px;
	float:left;
	
}

div#vmenu { 
   float:left;
   margin: 0; 
   padding: 7.50em 0em .25em 0em; 
   border: solid 1px #30c9e0; 
   background: #CEECF5; 
   height: 100%;
   width:20%;
   display: inline;
} 

div#vmenu ul { 
   margin: 0; 
   padding: 0; 
   list-style: none; 
} 

div#vmenu ul li { 
   margin: 0; 
   padding: 0; 
   list-style: none; 
} 

div#vmenu ul a:link { 
   margin: 0; 
   padding: .2em 0em .2em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background-color: #CEECF5; 
   color: #0059a0; 
   display: block; 
} 

div#vmenu ul a:active { 
   margin: 0; 
   padding: .25em .5em .25em .5em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background: #4d8cba; 
   color: #ffffff; 
   display: block; 
} 

div#vmenu ul a:visited { 
   margin: 0; 
   padding:  .25em .5em .25em .5em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background: #4d8cba;
   color: #ffffff; 
   display: block; 
} 

div#vmenu ul li a:hover { 
   margin: 0; 
   padding: .2em 0em .2em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   background-color: #30c9e0; 
   color: #ffffff; 
   display: block; 
}



.divider{
	width:40px;
    height:auto;
    display:inline-block;
}

#welcomeUi {
   float:left;
   height: 100%;
   display: inline;
  margin: 4% 20% 10% 30%;
}



#right_col {
   float:left;
   height: 100%;
   display: inline;
   margin: 4% 20% 3% 26%;
}

#color_val {
  color: #db328c;
}

#id_templateDiv {
 	float:right;
   height: 100%;
   display: inline;
   margin: 2% 35% 5% 15%;
}

#right_col_checkBrowser {
   float:left;
   width:100%; 
   height: 100%;
   display: inline;
   margin: 1% 10% 10% 3%;
}

.headingBrowser{     
	font-weight: bold;     
	display:table-row;     
	background-color:#848484;     
	text-align: center;     
	line-height: 25px;     
	font-size: 14px;     
	font-family:georgia;     
	color:#fff;      
}

.table-row{       
	display:table-row;     
	text-align: center; 
}

.col{     
	display:table-cell;     
	border: 1px solid #CCC; 
}

.col_cbl_id{     
	display:table-cell;     
	border: 1px solid #CCC; 
	width:140px;
}

.col_cbl_url{     
	display:table-cell;     
	border: 1px solid #CCC; 
	width:380px;
}

.col_cbl_browser{     
	display:table-cell;     
	border: 1px solid #CCC; 
	width:120px;
}

.col_cbl_csserrors{     
	display:table-cell;     
	border: 1px solid #CCC; 
	width:270px;
}


.col_htmlerrors, .col_htmlwarnings{     
	display:table-cell;     
	border: 1px solid #CCC; 
	width:280px;
}

.col_cbl_status{     
	display:table-cell;     
	border: 1px solid #CCC; 
	width:280px;
}
.container{    
	display:table;    
	width:90%;    
	border-collapse: collapse;    
} */

