#tabs { 
	border-bottom: .5em solid grey; 
	margin: 0; 
	padding: 0; 
}

#tabs li {  
	display:inline;  
	border-top: .1em solid grey; 
	border-left: .1em solid grey; 
	border-right: .1em solid grey; 
}

#tabs li a { 
	text-decoration: none; 
	padding: 0.25em 1em; 
	color: #000; 
}